.cabecalho{
display: flex;
justify-content: space-between;
align-items: center;
}


.menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/AluraBooks/menu.svg");
    background-position: center;
    background-repeat: no-repeat;
}