@import url(reset.css);
@import url(header.css);
@import url(banner.css);
@import url(carrossel.css);
@import url(topicos.css);
@import url(contatos.css);

:root{
    --branco: #FFFFFF;
    --cor-de-fundo: #EBECCE;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.56deg, #002f52 35.49%, #326589 165.37%);
    --azul: #002f52;
}
body{
    background-color: var(--cor-de-fundo);
    font-family: "poppins", sans-serif;
}