.topicos{
    background-image: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos{
    color: var(--branco);
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.topico-lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}